.mainFxmlClass {
    -fx-background-image: url("../media/images/background.jpg");
}

.painel {
    -fx-background-color: #00A854;
    -fx-background-radius: 25;
    -fx-border-color: #007B2B;
    -fx-border-radius: 10;
    -fx-border-width: 10;
}

.button {
    -fx-background-color: #00A854;
    -fx-background-radius: 10;
    -fx-border-color: #007B2B;
    -fx-border-radius: 8;
    -fx-border-width: 5;
}

.button-previous {
    -fx-background-image: url("../media/icons/button-previous.png");
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

.button-next {
    -fx-background-image: url("../media/icons/button-next.png");
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

.button-votacao {
    -fx-background-color: transparent;
    -fx-background-radius: 20; 
}

.textArea {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #FFFFFF;
}
